.fade-in-out-enter {
  opacity: 0.01;
}

.fade-in-out-enter.fade-in-out-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-in-out-leave {
  opacity: 1;
}

.fade-in-out-leave.fade-in-out-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.gallery-container {
  span { // span created by ReactCSSTransitionGroup
    overflow: hidden;
    max-height: calc(400px + (8px * 2));
  }
}

@media screen and (min-width: 768px) {
  .gallery-container {
    span { // span created by ReactCSSTransitionGroup
      max-height: calc(500px + (8px * 2));
    }
  }
}
