@import 'mixins';
@import 'animations';

#root {
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: center;

    div {
      display: flex;
      flex: 1;
      padding: 1rem;

      &.main-product-details {
        flex-direction: column;

        button {
          margin: 0 auto;
        }
      }

      img {
        &.main-product-img {
          max-height: 400px;
          margin: 0 auto;
        }
        &.thumb-product-img {
          max-height: 100px;
          margin-left: .5rem;
          margin-right: .5rem;
        }
      }
      .gallery-container {
        flex-direction: column;
      }
      .gallery-thumbs {
        margin: 0 auto;
        padding: 0;
      }
    }
  }

  .notification-banner {
    background: #212121;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    border-radius: 4px;
  }

  button {
    @include button;
  }

  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
      text-align: left;

      div {
        padding: 0.5rem;

        &.gallery-thumbs {
          margin: 0 auto;
          padding: 1rem;
        }

        &.main-product-details {
          button {
            margin: 0;
          }
        }

        img {
          &.main-product-img {
            max-height: 500px;
          }
        }
      }
    }
  }
}
